.carruselItems {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 8px;
  max-width: 1350px;
}

.carruselItem {
  object-fit: cover;
  margin: 3px;
}
.carruselItem:hover {
 transform: scale(1.03);
}

/* .buttonA {
  font-size: 60px;
  border: none;
  color:#5e454b7e;
  background-color: transparent;
}

.buttonA:hover {
  color:#5E454B;
}
.slide:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
} */
  
