.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 1350px;
  width: 100%;
}

.buttonA {
  font-size: 60px;
  border: none;
  color: rgba(231, 166, 53, 0.412);

}

.buttonA:hover {
  color: rgba(231, 166, 53, 0.676);
}

.slide:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}
  
