@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;900&display=swap');

.containerProfile {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 30%;
}

.profile h1 {
    font-size: 1.90em;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.843);
    font-family: 'Roboto';
}

.profile span {
    color: #CEE5D0;
}

.profile p {
    color: rgb(0, 0, 0);
    font-size: 1.70em;
    font-family: 'Work Sans';
    font-weight: 500;
}

.imgProfile {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    width: 50px;
}
