@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerHome {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #D8B384;
}

.home {
    margin-left: 15px;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-image: url(../../assets/fondoLangind1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.welcome {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    animation: profile 1s ease 0s 1 reverse forwards;
}

.publicidad {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: publicidad 1s ease 0s 1 normal forwards;
    gap: 10px;
}

.publicidad img:hover {
    transform: scale(1.01);
}

.publicidad h3 {
    font-family: 'Work Sans';
    font-size: 2em;
}

.containerDiets {
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    font-family: 'Work Sans';
    animation: profile 1s ease 0s 1 reverse forwards;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: profile 1s ease 0s 1 reverse forwards;
}

.filters {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.diets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters select {
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #5E454B;
    color: white;
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 1.23em;
    outline: none;
    text-decoration: none;
}

.filters select:hover {
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.filters input {
    width: 300px;
    height: 60px;
    border: 1px solid #5E454B;
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
    padding-left: 10px;
    font-family: 'Work Sans';
    font-size: 1.23em;
    font-weight: 700;
    outline: none;
}

.filters input:hover {
    background-color: #5e454b78;
    color: white;
    font-family: 'Work Sans';
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.star {
    font-size: 2em;
    color: #dbaa69;
}

.selectedRecipeContainer {
    width: 30%;
    height: 95%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 10px;
    bottom: 0;
    background-image: url(../../assets/selectedContainerImg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.418);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.418);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.418);
    animation: detail 0.5s ease 0s 1 reverse forwards;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selectedRecipeContainer button {
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #CEE5D0;
    color: white;
    font-family: 'Work Sans';
    font-size: 1.4em;
    margin: 10px;
    color: black;
    font-weight: 700;
}

.selectedRecipeContainer button:hover {
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.232);
    -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.327);
    -moz-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.246);
}

.selectedRecipeContainerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 700px;
    border-radius: 15px;
    margin: 10px;
}

.selectedRecipeContainerInfo img {
    width: 220px;
    height: 220px;
    border-radius: 1000px;
}

.selectedRecipeContainerInfo h1 {
    font-family: 'Work Sans';
    text-align: center;
    font-size: 2em;
    color: white;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 10px;

}

.diets1 {
    margin: 5px;
    color: white;
    font-size: 1.50em;
    font-family: 'Work Sans';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.diets1 p {
    padding: 15px;
    color: white;
    background-color: #5E454B;
    border-radius: 10px;
}

.containerSpinner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #5E454B;
    text-align: center;
    animation: spinner-d3wgkg 1s infinite linear;
}

.selectedRecipeContainer .buttonFav {
    background-color: #F3F0D7;
    font-size: 1em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}

@keyframes profile {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}

@keyframes publicidad {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes detail {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}

@media (min-width: 360px) and (max-width: 1700px) {
    .publicidad {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .filters {
        flex-wrap: wrap;
    }

    .containerHome {
        flex-direction: column;
    }

    .home {
        margin-left: 0;
    }

    .publicidad {
        display: none;
    }


}