@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.containerPaginado {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.buttonPaginado {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Work Sans';
    background-color: rgba(88, 116, 135, 0.757);
    font-size: 1.50em;
    font-weight: 300;
    border: none;
    color: white;
    margin: 5px;
}

.buttonPaginado:hover {
    color: black;
}

@media screen and (max-width:1000px) {
    .containerPaginado {
        flex-direction: column;
        height: 100%;
    }

    .buttonPaginado {
        width: 30px;
        height: 30px;
        border-radius: 7px;
        font-size: 1em;

    }
}