@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.imgDetail {
    border-radius: 10px;
    height: 800px;
    background-image: url(../../assets/chef.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.tituloDetail {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    animation: profile 1s ease 0s 1 reverse forwards;
}

.tituloDetail button {
    width: 250px;
    height: 70px;
    border-radius: 15px;
    border: none;
    background-color: #D8B384;
    font-size: 1.30em;
    font-family: 'Work Sans';
    font-weight: 700;
}

.tituloDetail button:hover {
    background-color: black;
    color: #D8B384;
}


.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #D8B384;
}

.detailPage {
    margin-left: 15px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background-color: #F3F0D7;
}

.containerProfile {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 95%;
    height: 150px;
    padding: 20px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    animation: profile 1s ease 0s 1 reverse forwards;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.profile h1 {
    font-size: 1.90em;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.843);
    font-family: 'Roboto';
}

.profile span {
    color: #D8B384;
}

.profile p {
    color: rgb(0, 0, 0);
    font-size: 1.70em;
    font-family: 'Work Sans';
    font-weight: 500;
}



.containerSpinner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #5E454B;
    text-align: center;
    animation: spinner-d3wgkg 1s infinite linear;
}
.idRecipe {
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myRecipe {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #1F1F1F;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    padding-top: 20px;
}

.containerTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.containerTitulo h1 {
    color: #D8B384;
    font-family: 'Lalezar';
    font-size: 3.60em;
}

.containerTitulo h4 {
    font-size: 1.80em;
    padding: 15px;
    border-radius: 1000px;
    background-color: #CEE5D0;
    font-family: 'Work Sans';
}

.date {
    border: 1px solid white;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: #F3F0D7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date img {
    border-radius: 1000px;
    width: 250px;
    height: 250px;
}

.date hr {
    position: relative;
    height: 8px;
    background: #504f4fca;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 10px;
}

.details {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
}

.details h3 {
    font-family: 'Work Sans';
    color: #D8B384;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 10px;
}
.details p {
    font-size: 1.50em;
}
.diets{
    margin-top: -30px;
    border-radius: 40px;
    background-color: #1F1F1F;
    padding: 40px;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.diets h3{
    color: #D8B384;
    font-family: 'Lalezar';
    font-size: 3.60em;
}






























@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}

@keyframes profile {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-250px);
    }
}

@keyframes detailImg {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}