@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #F3F0D7;
}

body::before {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: #CEE5D0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
    clip-path: circle(61% at 0 50%);
    /* Aplicamos un clip-path circular */
}


.containerNav {
    width: 92%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.dropdown {
    display: none;
}

.logoLanding {
    display: flex;
    justify-content: center;
    align-items: center;
}


.linksLanding {
    display: flex;
    flex-direction: row;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.985);
}

.linksLanding button {
    font-size: 1.40em;
    font-family: 'Work Sans';
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.linksLanding button:hover {
    border-bottom: 1px solid #D8B384;
}

.LoginRegister {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLangindPage {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.colOne {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    animation: col 1s ease 0s 1 reverse forwards;
}

.colTwo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    animation: col 1s ease 0s 1 reverse forwards;
}

.colOne h1 {
    font-size: 8.5em;
    color: #5E454B;
    font-family: 'Lalezar', cursive;
    line-height: 50%;
}

.colOne h2 {
    font-size: 4em;
    font-family: 'Work Sans';
    color: rgba(0, 0, 0, 0.864);
    line-height: 100%;
}

.buttona {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #CEE5D0;
    color: black;
    font-weight: 900;
    border: none;
    font-size: 1.20em;
    font-family: 'Work Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.buttona:hover {
    box-shadow: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

p:link {
    text-decoration: none;
}

p:visited {
    text-decoration: none;
}

.selectedInfo {
    width: 80%;
    height: 80%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.75);
    animation: aboutme 0.5s ease 0s 1 reverse forwards;
}

.selectedInfo button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #5E454B;
    color: white;
    border: none;
    font-size: 1.20em;
    font-family: 'Work Sans';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme {
    width: 50%;
}

.aboutme h1 {
    color: #D8B384;
    font-size: 3em;
}

.aboutme p {
    font-size: 1.40em;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.40em;
    color: #D8B384;
}

.app p {
    color: black;
}

.app img {
    border-radius: 20px;
}

@keyframes aboutme {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}

@keyframes myAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes col {
    0% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
    }
}

/* Estilos para dispositivos móviles grandes */
@media (min-width: 360px) and (max-width: 640px) {
    /* Aquí se definen los estilos CSS para pantallas con un ancho mínimo de 481px y un ancho máximo de 640px */
    .containerLangindPage {
        flex-direction: column;
    }
    .colOne{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colOne h2 {
        text-align: center;
        font-size: 1.5em;
    }
    .colTwo{
        width: 100%;
        padding-left: 25px;
    }

}

/* Estilos para tablets */
@media (min-width: 641px) and (max-width: 1023px) {

    /* Aquí se definen los estilos CSS para pantallas con un ancho mínimo de 641px y un ancho máximo de 768px */

    body::before {
        clip-path: circle(39% at 0 57% );
    }

    .colOne h1 {
        font-size: 6em;
    }

    .colOne h2 {
        font-size: 2em;
    }


}


/* Estilos para laptops */
@media (min-width: 1024px) and (max-width: 1366px) {

    /* Aquí se definen los estilos CSS para pantallas con un ancho mínimo de 1024px y un ancho máximo de 1366px */
    body::before {
        clip-path: circle(55% at 0 50%);
    }

    .linksLanding button {
        font-size: 1em;
    }

    .colOne h1 {
        font-size: 8em;
    }

    .colOne h2 {
        font-size: 2.50em;
    }

    .colTwo {
        content: url("../../assets/platoComida1.png");
    }

    .containerNav {
        margin-top: 30px;
    }

}
@media (min-width: 360px) and (max-width: 1023px) {
    .linksLanding {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .login {
        display: none;
    }
    .colTwo {
        content: url("../../assets/platoComida1.png");
        position: relative;
        z-index: -1;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdownToggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 30px;
        color: #5E454B;
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 160px;
        background-color: transparent;
    }

    .menuList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align:right;
        background-color: #cee5d092;
        backdrop-filter: blur(30px);
        border-radius: 15px;
        box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.232);
        -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.327);
        -moz-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.246);
    }

    .menuList li {
        padding: 10px 20px;
        font-size: 16px;
    }

    .menuList li:last-child {
        border-bottom: none;
    }
    body::before {
        width: 100%;
    }

}